{% load static %}
<!DOCTYPE html>
<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&family=Ubuntu:wght@700&display=swap"
        rel="stylesheet">
    <!-- end -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <!-- Header -->
    <header class="header">
        <a class="base__logo" href="/">Ритмы Жизней</a>
        <nav class="base__nav">
            <ul class="base__navList">
                <li class="base__navListItem">
                    <a class="base__navListItemLink" href="#">О нас</a>
                </li>
                <li class="base__navListItem">
                    <!-- should be dropdown menu -->
                    <a class="base__navListItemLink" href="#">К разделам</a>
                </li>
            </ul>
            <!-- icon for mobile -->
            <!-- <a class="base__navAccountLink base__navAccountLink--mobile" href="#">Войти в личный кабинет</a> -->
            <i class="base__navMenuIcon">|||</i>
        </nav>
    </header>
    <!-- Content -->
    <main class="content">
        <!-- {% block content %}
    {% endblock %} -->
        <section class="main__block">
            <h1 class="title main__blockTitle">Марфан, Элерс-Данло, Лойс-Дитц и связанные с ними состояния</h1>
        </section>
        <section class="main__info">
            <div class="main__infoDesc">
                <p class="text--bold main__infoText--bold">Синдром Марфана, Лойса-Дитца (СЛД) и сосудистый синдром
                    Элерса-Данлоса
                    (СЭД) — это генетические заболевания, которые
                    поражают соединительную ткань организма и в результате вызывают ослабление артерий. Поскольку
                    соединительная ткань есть
                    везде, глаза, кости, суставы и легкие также могут быть затронуты.</p>
                <p class="text main__infoText">Марфана, синдром LDS, синдром VEDS и некоторые связанные с ними состояния
                    являются серьезными, а осложнения могут быть
                    потенциально опасными для жизни. Из-за некоторого сходства между состояниями, затронутые люди
                    борются с одинаковыми или
                    похожими физическими проблемами. Важно получить раннюю и точную диагностику, чтобы узнать о
                    рекомендуемых методах
                    лечения, быть готовыми к операции и принять особые меры предосторожности при физической активности и
                    других ситуациях,
                    таких как беременность. Хотя лекарств от этих состояний не существует, достижения в области
                    медицинской помощи помогают
                    людям жить нормальной жизнью. </p>
            </div>
            <div class="main__infoMenu">
                <h2 class="title main__infoTitle">Марфан, Элерс-Данло, Лойс-Дитц
                    и связанные с ними состояния</h2>
                <ul class="main__infoMenuList">
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Недифференцированная дисплазия соединительной ткани"
                                class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Недифференцированная дисплазия соединительной
                                ткани</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Элерса-Данло" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Элерса-Данло</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Марфана" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Марфана</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Шпринтцена-Гольдберга Билса" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Шпринтцена-Гольдберга Билса</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Лойса-Дитца" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Лойса-Дитца</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Стиклера" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Стиклера</span>
                        </a>
                    </li>
                    <li class="main__infoMenuListItem">
                        <a href="#" class="main__infoLink">
                            <img src="#" alt="Синдром Билса" class="main__infoLinkImage">
                            <span class="text--bold main__infoLinkText">Синдром Билса</span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer class="footer">
        <p>&copy; 2025 Rhymes of Life. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>