/* ==================================================== SED PAGE STYLES ==================================================== */

.sed-cover {
  background-color: var(--block6-color);
  height: 100vh;
  display: flex;
  align-items: flex-start;
}

.sed-cover-mobile {
  display: block;
}

.sed-cover-desktop {
  display: none;
}

.sed-cover-mobile__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sed-cover-mobile__image {
  width: 150px;
  height: auto;
  display: block;
  object-fit: contain;
  padding: 30px 0 30px;
}

.sed-cover-mobile__title {
  position: relative;
  z-index: 2;
  padding: 0 16px 30px 16px;
  width: 100%;
  text-align: center;
}

.sed-cover-mobile__subtitle p {
  font-size: 2.8vh;
}

/* ----- ACCORDION ----- */
.sed-types {
  background-color: var(--white-color);
  padding-top: 0px;
  padding-bottom: 50px;
}

.accordion-items.sed {
  margin-bottom: 0;
}

.accordion-header.sed {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 30px 20px;
  color: var(--black-color);
  transition: background .3s ease, color .3s ease;
}

.accordion-header.sed h2 {
  font-size: 3vh;
  padding-right: 10px;
}

.accordion-header.sed[aria-expanded="true"] {
  background: transparent;
}

.accordion-icon.sed {
  width: 16px;
  height: 20px;
  border-right: 2px solid var(--black-color);
  border-bottom: 2px solid var(--black-color);
  transform: rotate(45deg);
  transition: transform .3s ease;
  padding-right: 20px;
}

.accordion-header.sed[aria-expanded="true"] .accordion-icon.sed {
  transform: rotate(-135deg);
}

.accordion-body.sed {
  max-height: 0;
  overflow: hidden;
  background: var(--white-color);
  color: var(--black-color);
  transition: max-height .4s ease;
  padding: 0;
}

.accordion-header.sed[aria-expanded="true"]+.accordion-body.sed {
  max-height: 2000px;
}

.accordion-item.sed {
  padding: 0 20px 30px;
  margin: 0;
}

.accordion-item.sed:first-child {
  padding: 0 20px 30px;
  margin: 0;
}

.accordion-item.sed:last-child {
  padding: 0 20px 30px;
  margin: 0;
}

.accordion-item-header.sed h3 {
  margin-bottom: 10px;
  font-size: 2.6vh;
}

.accordion-item-info.sed li {
  font-weight: 400;
}

.accordion-divider {
  border: none;
  border-top: 1px solid var(--block5-color);
  margin: 0;
}