/* ---------------------------------------------------- HOME (INDEX) ----------------------------------------------------*/
.info,
.class,
.diagnostic,
.attention,
.help {
  padding-top: 50px;
  padding-bottom: 50px;
}

.info__content,
.class__content,
.diagnostic__content,
.attention__content,
.help__content {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: var(--gutter);
  row-gap: 24px;
}

/* ---------------------------------------------------- HERO (COVER) ---------------------------------------------------- */
.cover {
  height: auto;
  background-color: var(--block1-color);
  padding-bottom: 0;
}

.cover-desktop__content {
  display: none;
}

.cover-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-height: 92vh;
  margin-bottom: 20px;
  background-image: url(/static/images/cover__img-mob.png);
  background-size: 80%;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 50px 0 100px 0;
}


.cover-mobile::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--block1-color);
  opacity: 70%;
  pointer-events: none;
  z-index: 0;
}

.cover>* {
  position: relative;
  z-index: 1;
}

.cover-mobile__header {
  display: flex;
  flex-direction: column;
  font-size: 4vh;
  text-align: center;
  z-index: 1;
}

.cover-mobile__astra-project {
  text-align: center;
  padding-bottom: 20px;
}

.cover-mobile__astra-project h4 {
  font-size: 2.4vh;
}

.cover-mobile__title {
  display: none;
}

.cover-mobile__subtitle {
  text-align: center;
}

.cover-mobile__subtitle h3 {
  font-size: 3.6vh;
}

.cover-mobile__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

.cover-mobile__img {
  width: 70%;
  height: auto;
}

.info__header,
.class__header,
.diagnostic__header,
.attention__header,
.help__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 16px 30px 16px;
}

.info__icon,
.class__icon,
.diagnostic__icon,
.help__icon,
.attention__icon {
  margin-bottom: 10px;
}





/* ------------------------------------------------------- INFO ------------------------------------------------------- */
.info {
  background-color: var(--white-color);
}

.info__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 50px;
}





/* -------------------------------------------------- CLASSIFICATION -------------------------------------------------- */
.class {
  background-color: var(--block4-color);
}

.class__term {
  color: var(--black-color);
  font-family: var(--font-basic);
  /* font-size: 2.2vh; */
  line-height: 150%;
  font-weight: 700;
}

.class__text,
.class__ndst-text {
  padding-bottom: 10px;
}

.class__text-info {
  /* grid-column: 3 / span 8; */
  padding-bottom: 50px;
}

.class__dst {
  padding-bottom: 50px;
}

.class__header-subtitle {
  padding-bottom: 20px;
}

.class__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.class__list-item {
  position: relative;
  padding-left: 20px;
  font-weight: 500;
}

.class__list-item:last-child {
  padding-bottom: 0;
}

.class__list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--block5-color);
  font-size: 25px;
}





/* ----------------------------------------------------- DIAGNOSTIC ----------------------------------------------------- */
.diagnostic {
  background-color: var(--white-color);
}

.diagnostic__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.diagnostic__list-item {
  position: relative;
  padding-left: 20px;
  font-weight: 400;
  padding-bottom: 10px;
}

.diagnostic__list-item:last-child {
  padding-bottom: 0px;
}

.diagnostic__list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--block3-color);
  font-size: 25px;
}





/* ----------------------------------------------------- ATTENTION ----------------------------------------------------- */
.attention {
  background-color: var(--block3-color);
}

.attention__text p {
  color: var(--white-color);
  text-align: center;
}





/* ------------------------------------------------------- HELP ------------------------------------------------------- */
.help {
  background-color: var(--white-color);
  padding-bottom: 0;
}

.help__content {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 24px;
  row-gap: 24px;
  place-items: center;
}

.help__header {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  place-items: center;
  text-align: center;
}

.help__icon {
  display: grid;
  place-items: center;
}

.help__text-content {
  display: grid;
  width: 100%;
  row-gap: 24px;
}

.help__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
}

.help__list-item {
  position: relative;
  padding-left: 20px;
}

.help__list-item::before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--block5-color);
  font-size: 25px;
}

.help__image-wrapper {
  display: grid;
  place-items: center;
  overflow: hidden;
  padding-top: 40px;
}

.help__image {
  width: 100%;
  height: auto;
  max-width: 60%;
}





/* ----------------------------------------------- MAIN DESKTOP (>= 769px) ----------------------------------------------- */
@media (min-width: 769px) {

  /* ===== COVER ===== */
  .cover {
    height: auto;
    padding: 0;
    position: relative;
    width: 100%;
    background-image: url('/static/images/cover__bg.svg');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  /* Optional background blur effect 
  .cover::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(10px);
    opacity: 0.8;
    z-index: 0;
  } */

  .cover-mobile {
    display: none;
  }

  .cover-desktop__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0;
    align-items: end;
    justify-content: center;
  }

  .cover-desktop-title h1 {
    font-weight: 900;
    font-size: 7.6vh;
    padding-bottom: 20px;
  }

  .cover-desktop__text {
    grid-column: 5 / span 6;
    padding: 50px 0;
  }

  .cover-desktop__header {
    grid-column: 5 / span 6;
    font-size: 5vh;
  }

  .cover-desktop__astra-project {
    text-align: left;
    padding-bottom: 10px;
  }

  .cover-desktop__astra-project h4 {
    font-size: 2.2vh;
  }

  .cover-desktop__title {
    display: block;
    text-align: left;
    font-size: 2vh;
    font-weight: 800;
    padding-bottom: 30px;
  }

  .cover-desktop__subtitle {
    text-align: left;
  }

  .cover-desktop__subtitle h3 {
    font-size: 4.2vh;
  }

  .cover-desktop__image-wrapper {
    grid-column: 1 / span 4;
  }

  .cover-desktop__img {
    max-width: 70%;
    height: auto;
    display: block;
  }

  /* ----- COMMON GRID FOR SECTIONS ----- */
  .info__content,
  .class__content,
  .diagnostic__content,
  .attention__content,
  .help__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--gutter);
    row-gap: 24px;
  }

  .info__header,
  .class__header,
  .diagnostic__header,
  .attention__header,
  .help__header {
    grid-column: 3 / span 8;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    text-align: left;
    flex-direction: row;
    row-gap: 24px;
    padding: 0;
  }

  .info__header-subtitle,
  .info__list,
  .info__text:last-child,
  .info-help__actions {
    grid-column: 3 / span 8;
  }


  .class__text,
  .class__text-info,
  .class__dst,
  .class__ndst {
    grid-column: 3 / span 8;
    padding-bottom: 20px;
  }











  .info__icon,
  .class__icon,
  .diagnostic__icon,
  .help__icon {
    flex: 0 0 var(--section-header-icon-w);
    width: var(--section-header-icon-w);
    min-width: var(--section-header-icon-w);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 0;
  }

  .info__icon img,
  .class__icon img,
  .diagnostic__icon img,
  .help__icon img {
    width: 45px;
    height: auto;
    display: block;
    object-fit: contain;
  }

  .attention__header {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .attention__text {
    grid-column: 3 / span 8;
    text-align: center;
  }

  /* ----- INFO ----- */
  .info__text {
    grid-column: 3 / span 8;
    padding-bottom: 20px;
  }

    .info__text-astra {
    grid-column: 3 / span 8;
    padding-bottom: 0;
  }

  /* ----- CLASSIFICATION ----- */
  .class__dst {
    grid-column: 3 / span 8;
    padding-bottom: 20px;
  }

  .class__ndst {
    grid-column: 3 / span 8;
  }

  /* ----- DIAGNOSTIC ----- */
  .diagnostic__header {
    grid-column: 3 / span 8;
  }

  .diagnostic__list_block {
    grid-column: 3 / span 9;
  }

  /* ----- HELP ----- */
  .help__content {
    grid-column: 3 / 9;
    display: grid;
    row-gap: 24px;
    justify-content: start;
  }

  .help__text-content {
    grid-column: 3 / 9;
    display: grid;
    row-gap: 24px;
    margin-bottom: 50px;
  }

  .help__header {
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
    text-align: left;
    flex-direction: row;
    row-gap: 24px;
  }

  .help__image-wrapper {
    grid-column: 9 / 13;
    align-self: end;
    justify-self: start;
    padding-top: 0;
  }

  .help__image {
    max-width: 85%;
    height: auto;
    display: block;
  }
}