/* default styles for all pages */
body,html {
    margin: 0;
    font-size: 10px;
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 0 0 auto;
}

.content{
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0!important;
}

/* components */

.text {
    color: #232323;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.text--bold {
    color: #232323;
    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 16px;
    font-style: normal;
    line-height: 130%; /* 20.8px */
}

.title {
    color: #232323;
    text-align: left;
    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    line-height: 122%; /* 31.72px */
}

.primeButton--black {
    display: flex;
    width: 212px;
    height: 50px;
    align-content: baseline;
    color: #FAFAFA ;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 13px;
    background: #232323;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* padding: 1rem 2rem; */
}

.primeButton--white {
    display: flex;
    width: 212px;
    height: 50px;
    align-content: baseline;
    color: #FAFAFA ;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 13px;
    background: #232323;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* padding: 1rem 2rem; */
}

.input {
    border: 1px solid #497C74;
    background: #FAFAFA;
    font-family: "Open Sans";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 1rem;
    max-height: 4rem;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}
/* base (header + footer), mobile-first  */
.header {
    display: flex;
    justify-content: space-between;
    /* change */
    padding: 1rem;
    align-items: center;
    background: #F9F4F1;
}

.base__logo {
    color:  #232323;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%; /* 32.94px */
    text-decoration: none;
}

.base__logo:active {
    color:  #232323;
}

.base__nav {
    
}

.base__navList {
    display: none;
    flex-direction: column;
}

.base__navListItem {
    list-style-type: none;
    display: block;
}

.base__navListItemLink,
.base__navAccountLink {
    display: block;
    color: #232323;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%; /* 19.52px */
}

.base__navAccountLink--mobile {

}

.base__navMenuIcon {
    display: block;
    width: 2rem;
    height: 2rem;
    color: #232323;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 122%;
    transform: rotate(90deg);
}

/* main, mobile-first */
.main__block{
    display: flex;
    background: #B7D0CC;
    padding: 5rem 0rem;
}

.main__blockTitle{
    color:  #232323;
    font-size: 27px;
    text-align: left;
    margin: 0rem 1.6rem;
}

.main__info{
    padding: 5rem 1.6rem;
    background: #F9F4F1;
}

.main__infoText--bold {
}

.main__infoText{
    margin-top: 2rem;
}

.main__infoMenu{
    margin-top: 7rem;
}

.main__infoTitle {
    margin-bottom: 3rem;
}

.main__infoMenuList {
    list-style-type: none;
    padding: 0rem;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.main__infoMenuListItem {
    /* display: flex; */
    margin-bottom: 3rem;
}

.main__infoMenuListItem:last-child{
    margin-bottom: 0rem;
}

.main__infoLink {
    text-decoration: none;
    display: block;
    /* flex-direction: column;
    margin: 0rem auto; */
}

.main__infoFigure {
    padding: 0rem;
    margin: 0rem;
}

.main__infoLinkImage {
    display: block;
    width: 100%;
    height: 20rem;
    background: #E9E2DE;
    margin-bottom: 1rem;
}

.main__infoLinkText {
    display: block;
}

.main_infoMenuListBtn {
    padding: 1rem 2rem;
    width: auto;
    margin: 5rem auto 0rem auto;
}

.main__instruction {

}

.main__instTitle {
    text-align: left;
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

.main__tabs {
     background: #B5A29A;
 padding: 5rem 3rem;
}

.main__tabsList {
    padding: 0rem;
   
}

.main__tabsListItem{
    list-style-type: none;
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.main__tabsListItem:last-child {
    margin-bottom: 0rem;
}

.main__tabsIcon {
    width: 45px;
    height: 45px;
    margin-right: 2rem;
    border-radius: 50%;
    background: #E9E2DE;
    min-width: 45px;
}

.main__tabsText {
    
}

.main__tabsWrapper {
    display: none;
    background: #E9E2DE;
    margin-right: 0rem;
    /* padding-bottom: 6rem;
    padding-top: 6rem; */
    padding: 6rem 2rem;
}

.main__tabsPanel {

}

.main__stepOpenTitle {
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.main__stepOpenText {

}

.main__stepOpenTextLink {
    margin-top: 6rem;
}



.main__details {
    padding: 5rem 2rem;
    background: #F9F4F1;
}

.main__detailsTitle {
    text-align: left;
    margin-top: 0rem;
    margin-bottom: 3rem;
}

.main__detailsText {
    margin-bottom: 2rem;
}

.main__detailsList {
    padding: 0rem;
    list-style-type: none;
}

.main__detailsListItem {
    display: flex;
    margin-bottom: 3rem;
    align-items: center;
}

.main__detailsListItem:last-child{
    margin-bottom: 0rem;
}

.main__detailsListText {
   
}

.main__detailsIcon {
    width: 45px;
    height: 45px;
    margin-right: 2rem;
    border-radius: 50%;
    background: #E9E2DE;
    min-width: 45px;
}

.main__tabsText {
    margin-bottom: 0rem;
}


.main__charity {
    padding: 5rem 2rem;
    background: #0B4141;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.main__charityTitle {
    color: #fafafa;
    max-width: 70%;
}

.main__charityText {
    color: #fafafa;
    text-align: center;
    max-width: 70%;
}

.main__charityLink {
    margin-top: 3rem;
    width: 286px;
    height: 74px;
    color: #232323;
    background: #fafafa;
}   

.main__formInTouch {
    background: #B7D0CC;
    display: flex;
    flex-direction: column;
    padding: 5rem 1.6rem;
}

.main__formTitle {
    order: 1;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 36px;
    margin-top: 0rem;
}

.main__formText{
    order: 2;
    text-align: center;
    font-size: 15px;
}

.main__inTouchInfo {
    order: 4;
}

.main__inTouchInfoTitle {
    text-align: center;
    font-size: 15px;
    margin-bottom: 3rem;
}

.main__inTouchAddress {
    text-align: center;
    font-size: 15px;
}

.main__inTouchInfoText {
    text-align: center;
    font-size: 15px;
}

.main__form {
    order: 3;   
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;

}

.main__formLabel {
    margin-bottom: 1rem;
    text-align: left;
    width: 100%;
    max-width: 29rem;
    font-size: 15px;
}

.main__formInput {
    margin-bottom: 1.5rem;
    max-width: 29rem;
    width: 100%;

}

.main__formBtn {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.main__formSubtext {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5rem;
}

.footer {
    background: #B7D0CC;
}

.footer__text {
    width: 60%;
    padding: 3rem;
    text-align: center;
    border-top: 1px solid #232323;
    margin: 0rem auto;
}

