{% extends "base/info/info_base.html" %}

{% block title %}Недифференцированная дисплазия соединительной ткани{% endblock %}

{% block content %}
<!-- ========== Cover ========== -->
<section class="ndst-cover section--color-accent">
    <div class="container">
        <!-- ========== Mobile ========== -->
        <div class="ndst-cover-mobile">
            <div class="ndst-cover-mobile__image-wrapper">
                <img src="/static/images/ndst__img-mob.png" alt="Иллюстрация дисплазии соединительной ткани"
                    class="ndst-cover-mobile__image">
                <div class="ndst-cover-mobile__title">
                    <h1 class="h1">Недифференцированная дисплазия соединительной ткани</h1>
                </div>
            </div>
            <div class="ndst-cover-mobile__subtitle text">
                <p class="text">
                    Иногда у человека есть признаки ДСТ, но общая картина не совпадает с определённым
                    синдромом. Это называется недифференцированная дисплазия.
                    Самым частым признаком в этом случае является гипермобильность суставов.
                </p>
            </div>
        </div>

        <!-- ========== Desktop ========== -->
        <div class="ndst-cover-desktop">
            <div class="ndst-cover-desktop__content">
                <div class="ndst-cover-desktop__text">
                    <div class="ndst-cover-desktop__title">
                        <h1 class="h1">Недифференцированная дисплазия соединительной ткани</h1>
                    </div>
                    <div class="ndst-cover-desktop__subtitle text">
                        <p class="text">
                            Иногда у человека есть признаки ДСТ, но общая картина не совпадает с определённым
                            синдромом. Это называется недифференцированная дисплазия.

                            Самым частым признаком в этом случае является гипермобильность суставов.
                        </p>
                    </div>
                </div>
                <div class="ndst-cover-desktop__image-wrapper">
                    <img src="/static/images/ndst__img.png" alt="Иллюстрация дисплазии соединительной ткани"
                        class="ndst-cover-desktop__image">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== Hypermob ========== -->
<section class="section section--white">
    <div class="container">
        <div class="grid">
            <div class="section-header grid-item--center">
                <div class="section-header__icon">
                    <img src="/static/images/cross__icon-img.png" alt="Иконка проекта" class="icon">
                </div>
                <div class="hypermob__header-titile">
                    <h2 class="h2 section-header__title">Гипермобильность</h2>
                </div>
            </div>
            <div class="class__text-block text grid-item--center">
                <p class="text">
                    Гипермобильность — это повышенная подвижность суставов, выходящая за пределы нормы.
                </p>
                <p class="text">Она не является патологией сама по себе: в мире около 30% гипермобильных людей. Для
                    кого-то
                    из них (например, для танцоров или гимнастов) такая гибкость — это преимущество.
                </p>
                <p class="text">Проблемы могут возникнуть, когда суставы не только гипермобильны, но и нестабильны.
                    Кости
                    плохо фиксируются на своих местах, что приводит к:
                </p>
                <ul class="list list--primary">
                    <li class="list__item">повторяющимся подвывихам и вывихам суставов,</li>
                    <li class="list__item">растяжениям связок и сухожилий, к другим травмам.</li>
                </ul>
                <p class="text">
                    Такое состояние называется «синдромом гипермобильности суставов». Гипермобильность и/или
                    нестабильность суставов может быть единственной (хоть иногда и довольно серьезной!)
                    проблемой, а может быть частью заболевания — например, синдрома Элерса-Данло или Марфана.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ========== Beiton ========== -->
<section class="section section--background">
    <div class="container">
        <div class="beiton__content">
            <div class="section-header grid-item--center">
                <div class="section-header__icon">
                    <img src="/static/images/how__icon-img.png" alt="Иконка проекта" class="icon">
                </div>
                <div class="beiton__header-title">
                    <h2 class="h2 section-header__title">Как определить гипермобильность суставов</h2>
                </div>
            </div>
            <div class="beiton__text text">
                <p class="text">
                    Гипермобильность может наблюдаться в одном, нескольких или во многих суставах. Для
                    определения генерализованной гипермобильности используют шкалу Бейтона.
                </p>
            </div>
            <div class="beiton__test">
                <div class="beiton__test-title">
                    <h3 class="h3">
                        Шкала Бейтона
                    </h3>
                </div>
                <div class="beiton__test-list">
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header --color-primary">
                            <h4 class="h4">
                                1. Мизинцы
                            </h4>
                        </div>
                        <div class="beiton__test-item-text text">
                            <p class="text">
                                Положите руку на стол ладонью вниз. Если сможете разогнуть мизинец кверху на
                                90° или больше +1 балл за каждую руку.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-1.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4 class="h4">
                                2. Большие пальцы
                            </h4>
                        </div>
                        <div class="beiton__test-item-text text">
                            <p class="text">
                                Согните запястье максимально вниз. Сможете ли прижать большой палец к
                                внутренней стороне предплечья?
                                +1 балл за каждую руку.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-2.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4 class="h4">
                                3. Локти
                            </h4>
                        </div>
                        <div class="beiton__test-item-text text">
                            <p class="text">
                                Вытяните руки ладонями вверх. Разгибается ли локоть на 10° или больше сверх
                                прямой
                                линии?
                                +1 балл за каждый локоть.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-3.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4 class="h4">
                                4. Колени
                            </h4>
                        </div>
                        <div class="beiton__test-item-text text">
                            <p class="text">
                                Встаньте прямо, максимально разогнув колени.
                                Если голень отклоняется назад на 10° или больше +1 балл за каждое колено.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-4.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4 class="h4">
                                5. Спина
                            </h4>
                        </div>
                        <div class="beiton__test-item-text text">
                            <p class="text">
                                Наклонитесь вперед из положения стоя, не сгибая коленей. Если ладони касаются
                                пола +1 балл.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-5.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="beiton-result__content">
                <div class="beiton-result__header">
                    <h3 class="h3">
                        Результат:
                    </h3>
                </div>
                <div class="beiton-result__text text">
                    <p class="text">
                        Взрослые, набравшие 5 баллов или больше, и дети, набравшие 6 баллов или больше,
                        считаются
                        гипермобильными. <b>Максимальное количество баллов — 9</b>.
                    </p>
                    <p class="text">
                        Оценка по шкале Бейтона является хорошим инструментом скрининга для вероятного
                        наличия генерализованной гипермобильности суставов.
                        Однако, необходимо помнить, что гипермобильность также может быть в суставах, не
                        измеряемых шкалой Бейтона (челюсть, шея, плечи, запястья, бедра, лодыжки, ступни
                        и пальцы ног).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== Gentest ========== -->
<section class="section section--white">
    <div class="container">
        <div class="grid">
            <div class="section-header grid-item--center">
                <div class="section-header__icon">
                    <img src="/static/images/search__icon-img.png" alt="Иконка проекта" class="icon">
                </div>
                <div class="gentest__header-titile">
                    <h2 class="h2 section-header__title">Когда необходимо генетическое тестирование?</h2>
                </div>
            </div>
            <div class="grid-item--center">
                <ul class="list list--primary">
                    <li class="list__item">Изменение внешности по марфаноидному типу (высокий рост,
                        длинные конечности и пальцы)</li>
                    <li class="list__item">Изменение аорты (дилатация/расслоение) по данным ЭхоКГ
                    </li>
                    <li class="list__item">Глазные признаки (эктопия хрусталика, миопия средней или
                        высокой степени, аномалии роговицы, отслойка сетчатки)</li>
                    <li class="list__item">Очень эластичная кожа или большие атрофические рубцы</li>
                    <li class="list__item">Обширные синяки/гематомы без соответствующих травм</li>
                    <li class="list__item">Семейная история по диссекции/аневризме аорты в молодом возрасте
                    </li>
                    <li class="list__item">Разрывы органов без соответствующих травм</li>
                    <li class="list__item">Значительный кифосколиоз</li>
                    <li class="list__item">Повторяющиеся большие грыжи органов</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}