{% extends "base/info/info_base.html" %}

{% block title %}Недифференцированная дисплазия соединительной ткани{% endblock %}

{% block content %}
<!-- ========== Cover ========== -->
<section class="ndst-cover">
    <div class="container">
        <!-- ========== Mobile ========== -->
        <div class="ndst-cover-mobile">
            <div class="ndst-cover-mobile__image-wrapper">
                <img src="/static/images/ndst__img-mob.png" alt="Иллюстрация дисплазии соединительной ткани"
                    class="ndst-cover-mobile__image">
                <div class="ndst-cover-mobile__title">
                    <h1>Недифференцированная дисплазия соединительной ткани</h1>
                </div>
            </div>
            <div class="ndst-cover-mobile__subtitle">
                <p>
                    Иногда у человека есть признаки ДСТ, но общая картина не совпадает с определённым
                    синдромом. Это называется недифференцированная дисплазия.
                    <br><br>
                    Самым частым признаком в этом случае является гипермобильность суставов.
                </p>
            </div>
        </div>

        <!-- ========== Desktop ========== -->
        <div class="ndst-cover-desktop">
            <div class="ndst-cover-desktop__content">
                <div class="ndst-cover-desktop__text">
                    <div class="ndst-cover-desktop__title">
                        <h1>Недифференцированная дисплазия соединительной ткани</h1>
                    </div>
                    <div class="ndst-cover-desktop__subtitle">
                        <p>
                            Иногда у человека есть признаки ДСТ, но общая картина не совпадает с определённым
                            синдромом. Это называется недифференцированная дисплазия.
                            <br><br>
                            Самым частым признаком в этом случае является гипермобильность суставов.
                        </p>
                    </div>
                </div>
                <div class="ndst-cover-desktop__image-wrapper">
                    <img src="/static/images/ndst__img.png" alt="Иллюстрация дисплазии соединительной ткани"
                        class="ndst-cover-desktop__image">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== Hypermob ========== -->
<section class="hypermob">
    <div class="container">
        <div class="hypermob__content">
            <div class="hypermob__header">
                <div class="hypermob__icon">
                    <img src="/static/images/cross__icon-img.png" alt="Иконка проекта" class="title-icon">
                </div>
                <div class="hypermob__header-titile">
                    <h2>Гипермобильность</h2>
                </div>
            </div>
            <div class="hypermob__text">
                <p>
                    Гипермобильность — это повышенная подвижность суставов, выходящая за пределы нормы.
                    <br><br>
                    Она не является патологией сама по себе: в мире около 30% гипермобильных людей. Для кого-то
                    из них (например, для танцоров или гимнастов) такая гибкость — это преимущество.
                    <br><br>
                    Проблемы могут возникнуть, когда суставы не только гипермобильны, но и нестабильны. Кости
                    плохо фиксируются на своих местах, что приводит к:
                </p>
                <br>
                <ul class="hypermob__list">
                    <li class="hypermob__list-item">повторяющимся подвывихам и вывихам суставов,</li>
                    <li class="hypermob__list-item">растяжениям связок и сухожилий, к другим травмам.</li>
                </ul>
                <br><br>
                <p>
                    Такое состояние называется «синдромом гипермобильности суставов». Гипермобильность и/или
                    нестабильность суставов может быть единственной (хоть иногда и довольно серьезной!)
                    проблемой, а может быть частью заболевания — например, синдрома Элерса-Данло или Марфана.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- ========== Beiton ========== -->
<section class="beiton">
    <div class="container">
        <div class="beiton__content">
            <div class="beiton__header">
                <div class="beiton__icon">
                    <img src="/static/images/how__icon-img.png" alt="Иконка проекта" class="title-icon">
                </div>
                <div class="beiton__header-title">
                    <h2>Как определить гипермобильность суставов?</h2>
                </div>
            </div>
            <div class="beiton__text">
                <p>
                    Гипермобильность может наблюдаться в одном, нескольких или во многих суставах. Для
                    определения генерализованной гипермобильности используют шкалу Бейтона.
                </p>
            </div>
            <div class="beiton__test">
                <div class="beiton__test-title">
                    <h3>
                        Шкала Бейтона
                    </h3>
                </div>
                <div class="beiton__test-list">
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4>
                                1. Мизинцы
                            </h4>
                        </div>
                        <div class="beiton__test-item-text">
                            <p>
                                Положите руку на стол ладонью вниз. Если сможете разогнуть мизинец кверху на
                                90° или больше +1 балл за каждую руку.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-1.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4>
                                2. Большие пальцы
                            </h4>
                        </div>
                        <div class="beiton__test-item-text">
                            <p>
                                Согните запястье максимально вниз. Сможете ли прижать большой палец к
                                внутренней стороне предплечья?
                                +1 балл за каждую руку.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-2.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4>
                                3. Локти
                            </h4>
                        </div>
                        <div class="beiton__test-item-text">
                            <p>
                                Вытяните руки ладонями вверх. Разгибается ли локоть на 10° или больше сверх
                                прямой
                                линии?
                                +1 балл за каждый локоть.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-3.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4>
                                4. Колени
                            </h4>
                        </div>
                        <div class="beiton__test-item-text">
                            <p>
                                Встаньте прямо, максимально разогнув колени.
                                Если голень отклоняется назад на 10° или больше +1 балл за каждое колено.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-4.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                    <div class="beiton__test-item">
                        <div class="beiton__test-item-header">
                            <h4>
                                5. Спина
                            </h4>
                        </div>
                        <div class="beiton__test-item-text">
                            <p>
                                Наклонитесь вперед из положения стоя, не сгибая коленей. Если ладони касаются
                                пола +1 балл.
                            </p>
                        </div>
                        <div class="beiton__test-image-wrapper">
                            <img src="/static/images/beiton-test__img-5.png" alt="" class="beiton__test-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="beiton-result__content">
                <div class="beiton-result__header">
                    <h3>
                        Результат:
                    </h3>
                </div>
                <div class="beiton-result__text">
                    <p>
                        Взрослые, набравшие 5 баллов или больше, и дети, набравшие 6 баллов или больше,
                        считаются
                        гипермобильными. <b>Максимальное количество баллов — 9</b>.
                        <br><br>
                        Оценка по шкале Бейтона является хорошим инструментом скрининга для вероятного
                        наличия генерализованной гипермобильности суставов.
                        Однако, необходимо помнить, что гипермобильность также может быть в суставах, не
                        измеряемых шкалой Бейтона (челюсть, шея, плечи, запястья, бедра, лодыжки, ступни
                        и пальцы ног).
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ========== Gentest ========== -->
<section class="gentest">
    <div class="container">
        <div class="gentest__content">
            <div class="gentest__header">
                <div class="gentest__icon">
                    <img src="/static/images/search__icon-img.png" alt="Иконка проекта" class="title-icon">
                </div>
                <div class="gentest__header-titile">
                    <h2>Когда необходимо генетическое тестирование? </h2>
                </div>
            </div>
            <div class="gentest__text">
                <ul class="gentest__list">
                    <li class="gentest__list-item">Изменение внешности по марфаноидному типу (высокий рост,
                        длинные конечности и пальцы)</li>
                    <li class="gentest__list-item">Изменение аорты (дилатация/расслоение) по данным ЭхоКГ
                    </li>
                    <li class="gentest__list-item">Глазные признаки (эктопия хрусталика, миопия средней или
                        высокой степени, аномалии роговицы, отслойка сетчатки)</li>
                    <li class="gentest__list-item">Очень эластичная кожа или большие атрофические рубцы</li>
                    <li class="gentest__list-item">Обширные синяки/гематомы без соответствующих травм</li>
                    <li class="gentest__list-item">Семейная история по диссекции/аневризме аорты в молодом возрасте
                    </li>
                    <li class="gentest__list-item">Разрывы органов без соответствующих травм</li>
                    <li class="gentest__list-item">Значительный кифосколиоз</li>
                    <li class="gentest__list-item">Повторяющиеся большие грыжи органов</li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}