{% extends "base/info/info_base.html" %}

{% block title %}Синдром Элерса-Данло{% endblock %}

{% block content %}
<!-- ========== Cover ========== -->
<section class="sed-cover section section--background-cover">
    <div class="container">
        <!-- ========== Mobile ========== -->
        <div class="sed-cover-mobile">
            <div class="sed-cover-mobile__image-wrapper">
                <img src="/static/images/sed__img-mob.png" alt="Иллюстрация дисплазии соединительной ткани"
                    class="sed-cover-mobile__image">
                <div class="sed-cover-mobile__title">
                    <h1 class="h1">Синдром Элерса-Данло</h1>
                </div>
            </div>
            <div class="sed-cover-mobile__subtitle">
                <p class="text">
                    На сегодня синдром Элерса-Данло (СЭД) подразделяют на 13 типов. Их объединяют общие черты
                    (гипермобильность суставов, хрупкость тканей), однако каждый из 13 типов имеет свои
                    характерные клинические особенности.
                </p>
            </div>
        </div>

        <!-- ========== Desktop ========== -->
        <div class="sed-cover-desktop">
            <div class="sed-cover-desktop__content">
                <div class="sed-cover-desktop__text">
                    <div class="sed-cover-desktop__title">
                        <h1 class="h1">Синдром Элерса-Данло</h1>
                    </div>
                    <div class="sed-cover-desktop__subtitle">
                        <p class="text">
                            На сегодня синдром Элерса-Данлo (СЭД) подразделяют на 13 типов. Их объединяют общие
                            черты (гипермобильность суставов, хрупкость тканей), однако каждый из 13 типов имеет свои
                            характерные клинические особенности.
                        </p>
                    </div>
                </div>
                <div class="sed-cover-desktop__image-wrapper">
                    <img src="/static/images/sed__img.png" alt="Иллюстрация дисплазии соединительной ткани"
                        class="sed-cover-desktop__image">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Accordion Container -->
<div class="accordion">
    <div class="container accordion">
        <div class="grid">
            <div class="accordion">
                <!-- Гипермобильный СЭД -->
                <div class="accordion__item --center">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Гипермобильный СЭД (гСЭД)</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">Неизвестны</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Генерализованная гипермобильность суставов</li>
                                    <li class="list__item">Нестабильность суставов</li>
                                    <li class="list__item">Хроническая боль</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Классический СЭД -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Классический СЭД</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">COL5A1 (90%), COL5A2, COL1A1</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Хрупкость кожи с атрофическими рубцами</li>
                                    <li class="list__item">Гиперрастяжимая кожа с бархатистой текстурой</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Сосудистый тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Сосудистый тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">COL3A1, COL1A1</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Хрупкость артерий с аневризмами/разрывами</li>
                                    <li class="list__item">Хрупкость органов с их спонтанными разрывами</li>
                                    <li class="list__item">Обширные синяки без травм</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Периодонтальный тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Периодонтальный (зубной) тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">C1R, C1S</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Тяжёлый периодонтит с ранней потерей зубов</li>
                                    <li class="list__item">Бляшки на передней поверхности голеней</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Кифосколиотический тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Кифосколиотический тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">PLOD1, FKBP14</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Врожденная мышечная гипотония</li>
                                    <li class="list__item">Ранний кифосколиоз</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Спондиолодиспластический тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Спондиолодиспластический тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">B4GALT7, B3GALT6, SLC39A13</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Низкий рост</li>
                                    <li class="list__item">Врожденная мышечная гипотония</li>
                                    <li class="list__item">Переразгибание конечностей</li>
                                    <li class="list__item">Черепно-лицевые особенности</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Синдром хрупкой роговицы -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Синдром хрупкой роговицы</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">ZNF469, PRDM5</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Тяжёлые патологии роговицы глаза</li>
                                    <li class="list__item">Потеря слуха</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Артрохалязия -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Артрохалязия</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">COL1A1, COL1A2</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Тяжёлая гипермобильность суставов</li>
                                    <li class="list__item">Врожденный двусторонний вывих бедра</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Мышечно-контрактурный тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Мышечно-контрактурный тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">CHST14, DSE</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Врожденные множественные контрактуры</li>
                                    <li class="list__item">Черепно-лицевые особенности</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Классикоподобный тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Классикоподобный тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">TNXB</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Гиперрастяжимая бархатистая кожа без рубцов</li>
                                    <li class="list__item">Деформация стоп</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Дерматоспарексис -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Дерматоспарексис</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">ADAMTS2</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Чрезвычайная хрупкость кожи</li>
                                    <li class="list__item">Обширные гематомы</li>
                                    <li class="list__item">Короткие конечности</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Миопатический тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Миопатический тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">COL12A1</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный или аутосомно-доминантный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Врожденная мышечная гипотония</li>
                                    <li class="list__item">Проксимальные контрактуры</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Сердечно-клапанный тип -->
                <div class="accordion__item">
                    <button class="accordion__header" aria-expanded="false">
                        <h3 class="h3 accordion__title">Сердечно-клапанный тип</h3>
                        <span class="accordion__icon"></span>
                    </button>
                    <div class="accordion__body">
                        <div class="accordion__content">
                            <div class="text-block">
                                <h3 class="h3">Ассоциированные гены</h3>
                                <p class="text">COL1A2</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Тип наследования</h3>
                                <p class="text">Аутосомно-рецессивный</p>
                            </div>
                            <div class="text-block">
                                <h3 class="h3">Отличительные особенности</h3>
                                <ul class="list list--primary">
                                    <li class="list__item">Тяжёлая недостаточность сердечных клапанов</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}