{% extends "base.html" %}
{% load i18n static avatar_tags %}

{% block content %}
<div class="container py-4">
  {% include "base/includes/profile_header.html" with profile_user=profile_user info=info posts_count=posts_total followers_count=info.followers_count request=request only %}

  <input type="hidden" id="current-tab" value="{{ tab|default:'posts' }}">

  <div id="profile-content">
    {% include "base/profile_content_fragment.html" %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/profile_index.js' %}"></script>
<script src="{% static 'js/posts.js' %}"></script>
<script src="{% static 'js/follow_toggle.js' %}"></script>
<script src="{% static 'js/post_menu.js' %}"></script>
{% endblock %}
